<nav id="sidebar-nav-links">

  <span>
    <img src="../images/envelope.png" style="width: 30px, height:25px%"></img>
    <h4 style="display:inline;"> hjkim2246@gmail.com</h4>    
  </span>

  <span>
    <img src="../images/github.png" style="width: 30px, height:30px"></img>
    <h4 style="color:white;"> <a href="https://github.com/yeomko22" >[link]</a></h4>    
  </span>

  <span style="display: inline">
    <h4 style="color:white;"> CV </h4>    
    <h4 style="color:white;"> <a href="" >[pdf]</a></h4>    
  </span>
</nav>
