<nav id="sidebar-nav-links">

  <span style="display: inline">
    <img src="../images/envelope.png" style="width: 10%, height:10%"></img>
    <h4 style="color:white;"> hjkim2246@gmail.com</h4>    
  </span>

  <span style="display: inline">
    <img src="../images/github.png" style="width: 10%, height:10%"></img>
    <h4 style="color:white;"> https://github.com/yeomko22</h4>    
  </span>

  <span style="display: inline">
    <h4 style="color:white;"> CV </h4>    
    <h4 style="color:white;"> <a href="" >[pdf]</a></h4>    
  </span>
</nav>
